{% extends 'base.html.twig' %}

{% block title %}Авторизация/Admin{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center h-75 mt-5">
        <div class="col-5 d-flex flex-column form-security_style p-5">
            <h3 class="text-center mb-4">Авторизация в административной панели</h3>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger" id="errors">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}


                <div class="form-group row">
                    <label for="inputEmail" class="text-center col-sm-2">Email</label>
                    <div class="col-10">
                        <input
                                type="email"
                                value="{{ last_username }}"
                                name="email" id="inputEmail"
                                class="form-control"
                                required autofocus
                        />
                    </div>
                </div>
                <div class="form-group row mt-2 mb-2">
                    <label for="inputPassword" class="text-center col-sm-2">Пароль</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <div class="d-flex w-100 justify-content-center">
                    <button class="btn btn-outline-dark pl-5 pr-5" type="submit">
                        Войти
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
